Repository Arquisoft/wichat_es1b, pull requests merged in 2025-03, with the labels that each got.

#37 Microservicio de generación de preguntas
  .github/workflows/build.yml
  docker-compose.yml
  docs/images/logo.png
  docs/index.adoc
  gatewayservice/gateway-service.js
  gatewayservice/openapi.yaml
  package-lock.json
  package.json
  questionservice/.dockerignore
  questionservice/Dockerfile
  questionservice/game-model.js
  questionservice/package-lock.json
  questionservice/package.json
  questionservice/question-model.js
  questionservice/question-queries.js
  questionservice/question-service.js
  webapp/src/App.js
  webapp/src/components/game/Game.js
  webapp/src/components/login/Login.js
  webapp/src/index.css
Labels: functionality 🔨

#111 Mejoras Coverage Test de Home, AddUser y gateway-service
  gatewayservice/gateway-service.test.js
  webapp/src/components/game/Game.test.js
  webapp/src/components/home/Home.js
  webapp/src/components/home/Home.test.js
  webapp/src/components/register/AddUser.test.js
  webapp/src/setupTests.js
Labels: test

#130 Test de AnimatedCharacter y Game >80%
  webapp/src/components/animated/AnimatedCharacter.jsx
  webapp/src/components/animated/AnimatedCharacter.test.jsx
  webapp/src/components/game/Game.js
  webapp/src/components/game/Game.test.js
  webapp/src/components/home/Home.js
Labels: test 🧪

#131 Tests
  webapp/src/components/animated/AnimatedCharacter.jsx
  webapp/src/components/animated/AnimatedCharacter.test.jsx
  webapp/src/components/game/Game.js
  webapp/src/components/game/Game.test.js
  webapp/src/components/home/Home.js
Labels: test 🧪
